Octoplus/.vs/Octoplus/v15/Server/sqlite3/storage.ide-wal
Octoplus/.vs/Octoplus/v15/Server/sqlite3/storage.ide-shm
Octoplus/.vs/Octoplus/v15/Server/sqlite3/storage.ide
Octoplus/.vs/Octoplus/v15/Server/sqlite3/db.lock
Octoplus/.vs/Octoplus/v15/.suo
